{{#each posts as |post|}}

<article>
    <a href="/post/{{post.id}}">
    <div class="blog-post">
        <header class="post-header">{{post.title}}
            <p>Posted by: {{post.user.username}} on {{format_date date_created}}</p>
        </header>
        <div class="card-body">
            <p class="card-text">{{post.post_content}}</p>
        </div>
    </div>
    </a>
</article>

{{/each}}